.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 380px;
  width: 38%;
  padding: 20px;

  border: 1px solid #b8b8b8;
  border-radius: 4px;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}
