<div>
  <h1>Bem vindo</h1>
  <section class="login__container">
    <h2>Login</h2>
    <form class="form__container" action="">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput />
      </mat-form-field>

      <button mat-raised-button>Login</button>
    </form>
  </section>
  <section>
    <div>
      <h2>Registro</h2>
    </div>
  </section>
</div>
