<body>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button (click)="createNewPartner()" mat-menu-item>
        Cadastrar parceiro
      </button>
      <button (click)="getAllPartners()" mat-menu-item>
        Listar todos os parceiros
      </button>
      <button mat-menu-item>Sobre a aplicação</button>
      <button mat-menu-item>Sair</button>
      <button (click)="getPartnerById()" mat-menu-item>
        Teste obter por Id
      </button>
    </mat-menu>
  </div>
</body>
